{% import_yaml "example/v1_0/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}


{% set os_family_map = salt['grains.filter_by']({
  'Debian': {},
  'RedHat': {
    "pkg" : 'example-redhat',
    }
  },
  grain="os_family")
%}


{% do default_settings.example.update(os_family_map) %}
{% set example = default_settings.example %}
